* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100svw;
    min-height: 100svh;
    background-color: #5c51b0;
}

.container-input {
    display: flex;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;

    .message-input {
        width: 100%;
        display: flex;
        margin-left: 30px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid black;
        resize: none;
    }

    .message-input:focus {
        outline: none;
        box-shadow: inset 0 0 5px #000000;
    }

    .info-text {
        font-size: 22px;
        margin-top: 20px;
        margin-left: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        margin-left: 130px;
        margin-top: -10px;
        background-color: aqua;
        border-radius: 10px;
    }

    .submit-button:hover {
        box-shadow: 0 0 15px #129EDD;
    }

    .char-counter {
        display: flex;
        justify-content: end;
        margin-left: 50px;
        font-weight: bold;
    }

    .submit-file {
        display: flex;
        padding: 3px;
        font-weight: semibold;
        background-color: aqua;
        height: 40px;
        width: 80px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 2px solid #545454;
        margin-left: 245px;
        margin-top: -50px;
    }

    .submit-file:hover {
        box-shadow: 0 0 15px #129EDD;
    }

    .input-btn {
        display: none;
     }
}
